<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="memberSave" parameterType="memberDTO">
        insert into member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>

    <select id="memberLogin" resultType="memberDTO">
        select * from member_table where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>

    <select id="memberList" resultType="memberDTO">
        select * from member_table
    </select>

    <select id="memberFind" parameterType="Long" resultType="memberDTO">
        select * from member_table where id = #{findResult}
    </select>

    <delete id="memberDelete" parameterType="Integer">
        delete from member_table where id = #{delete}
    </delete>

    <select id="updateList" resultType="memberDTO">
        update member_table set memberEmail = #{loginData}
    </select>

    <select id="memberUpdate" parameterType="String" resultType="memberDTO">
        select * from member_table where memberEmail = #{memberEmail}
    </select>

    <update id="updateLogin" parameterType="memberDTO">
        update member_table set memberName = #{memberName}, memberAge = #{memberAge} where id = #{id}
    </update>

    <select id="duplicateCheck" parameterType="String" resultType="String">
        select memberEmail from member_table where memberEmail = #{membetEmail}
    </select>

</mapper>














